<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akexorcist.myapplication">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_multi_window"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- TODO (1) : Add category for multi window launcher -->
            </intent-filter>
        </activity>

        <!-- TODO (2) : Add meta data for multi window support -->
        <!-- TODO (3) : Add meta data for multi instance support -->

    </application>

</manifest>